<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>939189785000-nur1a4cb4qrjjnn1a5n2f8dhjs787amn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.939189785000-nur1a4cb4qrjjnn1a5n2f8dhjs787amn</string>
	<key>API_KEY</key>
	<string>AIzaSyDKIbXts9mlJr4j7Wblh1AZByVKwdJf2f4</string>
	<key>GCM_SENDER_ID</key>
	<string>939189785000</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>rit.ISE2Project</string>
	<key>PROJECT_ID</key>
	<string>ise-3-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>ise-3-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:939189785000:ios:57a93c2e7893cd89c40d9d</string>
</dict>
</plist>